btn(bg = primary-color, color=light-text)
  background-color bg
  color color
  padding 10px 15px
  font-size 15px
  text-align center
  font-weight 400
  line-height 1.4
  border none
  border-radius 4px
  transition border .25s linear,color .25s linear,background-color .25s linear

form-control(border = sub-text, color = sub-text,)
  height 42px
  padding 8px 12px
  font-size 15px
  line-height 1.467
  color color
  border 2px solid border
  border-radius 6px
  box-shadow none
  transition border .25s linear,color .25s linear,background-color .25s linear
  
edit-input()
  height 42px
  font-size 18px
  line-height 1.467
  color color
  border none
  border-bottom 1px solid text-color
  box-shadow none
  transition border .25s linear, color .25s linear, background-color .25s linear
  &:focus
    outline none
    border-bottom 1px solid primary-color

tag(bg = primary-color, color = light-text)
  border-radius 6px
  color color
  background-color bg
  padding-top 6px
  padding-bottom 6px
  font-size 13px
  line-height 15px
  text-align center