@import '../style'
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

global-reset()

html
body
  height 100%

body
  font-family 'Roboto', sans-serif
  background-color bg-color
  *
    box-sizing border-box
a
  color text-color
  text-decoration none
  &:hover
  &:active
    text-decoration none
ul
  list-style-type none  

form
  &:focus
    outline none
    
#app
  main
    padding-top navbar-height
    center(1200px)
    padding gutter * 2
    
  footer
    col(1)