@import '../../../style'

.dashboard
  position relative
  
  >.row
    border-container()

  .checkbox-container
    position relative
    
    span.glyphicon
      margin-top 24px
      font-size 64px