<section class="project">

  <!-- Add/Edit Organization -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 collapsible>Project</h1>
      <add-item
        current-item="vm.project"
        factory-name="Project">
      
        <!-- Transcluded Content -->
        <div class="form-group">
          <label>Project Name</label>
          <input type="text" ng-model="vm.currentItem.name">
        </div>
        <div class="form-group">
          <label>Project Description</label>
          <input type="text" ng-model="vm.currentItem.description">
        </div>
      
      </add-item>
    </div>
  </div>

  <!-- Add new Projects to Organization -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 collapsible show-default="false">Add a New Task</h1>
      <add-sub-item
        parent-id="vm.project._id"
        item-list="vm.project.tasks"
        factory-name="Task">
      
        <!-- Transcluded Content -->
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" ng-model="vm.currentItem.name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input class="form-control" type="text" ng-model="vm.currentItem.description">
        </div>
      
      </add-sub-item>
    </div>
  </div>

  <!-- List Current Projects -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 collapsible>Task List</h1>
      <item-list
        items="vm.project.tasks"
        factory-name="Task"
        route="task">
      
        <!-- Transcluded Content -->
        <h1>{{item.name}}</h1>
        <p>{{item.description}}</p>
      
      </item-list>
    </div>
  </div>
</section>
