@import '../../../style'

.addItem
  position relative
  clearfix()
  
  .item-form-container
    col(1/2)
    
  .assign-user-container
    col(1/2)

  button
    margin 20px 0
    col(2/3, 1/6)
    btn(primary-color)
    
  h4
    color sub-text
    margin-top 20px

  form
    clearfix()

    input[type=text]
      margin-bottom 20px
      display block
      width 100%
      edit-input()
      
    input[type=submit]
      display block
      width 100%
      btn(primary-color)