<section class="assignUser">
  <div class="user-list-header">
  <h4>Current Users</h4>
    <input type="text" ng-model="vm.searchCurrentUsers" placeholder="Search...">
  </div>
  <div class="current-user-list">
    <a href="#" ng-click="vm.handleRemoveUser($index)" ng-repeat="user in vm.currentUsers | filter:vm.searchCurrentUsers">
      <span>{{user.username}}</span>
    </a>
  </div>
  <hr>
  <div class="user-list-header">
  <h4>Available Users</h4>
    <input type="text" ng-model="vm.searchAllUsers" placeholder="Search...">
  </div>
  <div class="all-user-list">
    <a href="#" ng-click="vm.handleAddUser($index)" ng-repeat="user in vm.filteredAllUsers">
      <span>{{user.username}}</span>
    </a>
  </div>
</section>
