@import '../../../style'

.itemList
  position relative
  clearfix()
  
  .list-item
    col(1)

  .transcluded-content
    col(1/2)
    
  .item-content
    col(1/2)
  .danger
    btn(accent-color)
  .primay
    btn(primary-color)
