<section class="organization">
  
  <h1>{{vm.organization.title}}</h1>
  <!-- Add/Edit Organization -->
  <add-item
    current-item="vm.organization"
    item-id="vm.organizationId"
    factory-name="Organization">

    <!-- Transcluded Content -->
    <input type="text" class="form-control" ng-model="vm.currentItem.title">

  </add-item>

  <!-- Add new Projects to Organization -->
  <add-sub-item
    parent-id="vm.organization._id"
    item-list="vm.organization.projects"
    factory-name="Project">

    <!-- Transcluded Content -->
    <h1>Add a New Project</h1>
    <label>Name</label>
    <input type="text" ng-model="vm.currentItem.name">
    <label>Description</label>
    <input type="text" ng-model="vm.currentItem.description">

  </add-sub-item>

  <!-- List Current Projects -->
  <item-list
    items="vm.organization.projects"
    factory-name="Project"
    route="project">

    <!-- Transcluded Content -->
    <h1>{{item.name}}</h1>
    <p>{{item.description}}</p>

  </item-list>
</section>
