<section class="organization">

  <!-- Add/Edit Organization -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 collapsible>Organization</h1>
      <add-item
        current-item="vm.organization"
        item-id="vm.organizationId"
        assign-current-user="true"
        factory-name="Organization">
      
        <!-- Transcluded Content -->
        <div class="form-group">
          <label>Organization Name</label>
          <input type="text" class="edit-input" ng-model="vm.currentItem.title">
        </div>
      
      </add-item>
    </div>
  </div>

  <!-- Add new Projects to Organization -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 collapsible show-default="false">Add a New Project</h1>
      <add-sub-item
        parent-id="vm.organization._id"
        item-list="vm.organization.projects"
        factory-name="Project">
      
        <!-- Transcluded Content -->
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" ng-model="vm.currentItem.name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input class="form-control" type="text" ng-model="vm.currentItem.description">
        </div>
      
      </add-sub-item>
    </div>
  </div>

  <!-- List Current Projects -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 collapsible>Current Projects</h1>
      <item-list
        items="vm.organization.projects"
        factory-name="Project"
        route="project">
      
        <!-- Transcluded Content -->
        <h1>{{item.name}}</h1>
        <p>{{item.description}}</p>
      
      </item-list>
    </div>
  </div>
</section>
