@import '../../../style'

.navbar
  height navbar-height
  background-color primary-color
  position fixed
  min-width 100%
  padding 15px
  
  .links
    color light-text
    padding 15px 21px
    font-size 16px
    font-weight 700
    line-height 23px
  
  .logo
    height 53px
    padding 14px 21px
    font-size 24px
    font-weight 700
    line-height 1.042